In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict
from sklearn import preprocessing

In [2]:
cols = ["movie_id" , "name" , "release_date","NAN","imdb_link","unknown","Action","Adventure","Animation","Children's","Comedy","Crime","Documentary","Drama","Fantasy","Film-Noir","Horror","Musical","Mystery","Romance","Sci-Fi","Thriller","War","Western"]
movie_genre_data = pd.read_csv('u.item', sep='|', names=cols , encoding='latin-1')

In [3]:
genres = ["unknown","Action","Adventure","Animation","Children's","Comedy","Crime","Documentary","Drama","Fantasy","Film-Noir","Horror","Musical","Mystery","Romance","Sci-Fi","Thriller","War","Western"]

Movie_vs_genre = []
Movie_vs_genre.append([0 for i in range(19)])
for index,row in movie_genre_data.iterrows():
    a = []
    for genre in genres:
        a.append(int(row[genre]))
    Movie_vs_genre.append(a)

In [4]:
Movie_vs_genre = np.array(Movie_vs_genre)
Movie_vs_genre = preprocessing.normalize(Movie_vs_genre , axis = 1)

Movie_vs_genre.shape

(1683, 19)

In [5]:
data = pd.read_csv("u.data",sep='\t',names = ["user","movie","ratings","id"])

In [6]:
data.head()

   user  movie  ratings         id
0   196    242        3  881250949
1   186    302        3  891717742
2    22    377        1  878887116
3   244     51        2  880606923
4   166    346        1  886397596

In [7]:
user_vs_genre = np.array([[0 for i in range(len(genres))] for i in range(max(data.user.unique())+1)])

In [8]:
user_vs_genre.shape

(944, 19)

In [9]:
for index,row in data.iterrows():
    user = int(row["user"])
    movie = int(row["movie"])
    rating = int(row["ratings"])
    user_vs_genre[user] = user_vs_genre[user] + rating * Movie_vs_genre[movie]

In [10]:
user_vs_genre.shape

(944, 19)

In [11]:
user_vs_genre[1]

array([  4, 110,  47,  21,  20, 200,  39,  24, 291,   3,   3,  22,  17,
        10,  89,  84,  95,  44,  12])

In [12]:
nm_user_genre = preprocessing.normalize(user_vs_genre , axis = 1)

In [13]:
user_vs_movie = np.matmul(nm_user_genre , Movie_vs_genre.T)

In [14]:
user_vs_movie.shape

(944, 1683)

In [15]:
user_movie_ranking = defaultdict(list)
for i in range(len(user_vs_movie)):
    row = user_vs_movie[i , :]
    d = defaultdict(float)
    for j in range(len(row)):
        d[j] = row[j]
    liked_movies = sorted(d.keys() , key = lambda x:d[x],reverse = True)
    user_movie_ranking [i] = liked_movies[:10]

In [16]:
user_movie_ranking[1]

[34, 45, 47, 65, 93, 150, 236, 316, 345, 347]

In [17]:

cols = ["movie_id" , "name" , "release_date","imdb_link","bit1","bit2","bit3","bit4","bit5","bit6","bit7","bit8","bit9","bit10","bit12","bit13","bit14","bit15","bit16","bit17","bit18","bit19","bit20","bit21"]
movie_names = pd.read_csv('u.item', sep='|', names=cols , encoding='latin-1')
movie_name_dict = defaultdict(str)
for index, row in movie_names.iterrows():
    movie_name_dict[int(row["movie_id"])] = row["name"]

In [18]:
predict_for = 1
print("Predictions for user number:",predict_for)
for i in user_movie_ranking[predict_for]:
    print(movie_name_dict[i])

Predictions for user number: 1
Doom Generation, The (1995)
Eat Drink Man Woman (1994)
Ed Wood (1994)
What's Eating Gilbert Grape (1993)
Welcome to the Dollhouse (1995)
Swingers (1996)
Citizen Ruth (1996)
As Good As It Gets (1997)
Deconstructing Harry (1997)
Wag the Dog (1997)